.carousel-inner img {
    border-radius: 10mm;
    height: 500px;
    width: 80%;
}
.navbar-expand-lg{
    font-family: 'Baloo 2', cursive;
    font-size: 18px;
}
.form-inline{
    margin-left: 20px;
    font-family: 'Baloo 2';
}
.btn-outline-dark{
    margin-left: 20px;
    padding: 2px;
}
.inicio{
    margin-left: 900px;
}

.container{
    margin-top: -75px;
}

.card-motor{
    color: black;
    margin: 5mm;
    font-family: 'Baloo 2', cursive;
}
.card-ea3{
    color: black;
    margin: 5mm;
    font-family: 'Baloo 2', cursive;
}

.card-ea4{
    color: black;
    margin: 5mm;
    font-family: 'Baloo 2', cursive;
}

.logoN{
    height: 200px;
    width: 200px;
    margin-left: 1600px;
    margin-top: -125px;
}
.titulo{
    font-size: 52px;
    font-family: 'Baloo 2',cursive;
}
.subtitulo{
    font-size: 34px;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 20px;
}
.card-title{
    color: black;
    text-align: center;
}
.card-text{
    color: black;
}